/* 全局变量 */
:root {
	--maincolor: #22affa;
	--accessorycolor: #1becae;
	--mainopacitycolor: rgba(34, 175, 250, .3);
	--success: #28a745;
	--info: #17a2b8;
	--warning: #ffc107;
	--danger: #dc3545;
	--light: #f8f9fa;
	--dark: #343a40;
	--sectionpad: 0.5rem;
	--minpad: 0.1rem;
	--nomalpad: 0.3rem;
	--modpad: 0.8rem;
	--largepad: 1rem;
	--inputborder: #ddd;
	--titlecolor: #323232;
	--desccolor: #808080;
	--inputcolor: #646464;
	--disabledcolor: #ccc;
	--borderRadius: 4px;
	--lightborder: #f1f1f1;
	--gradient:linear-gradient(120deg, #4097f1, #edacfd)
}

/* -- 基本共用-- */
* {
	box-sizing: border-box;
}

html {
	-webkit-text-size-adjust: none;
	font-family: sans-serif;
	font-size: 15px;
}

html,
body,
header,
section,
footer,
div,
ul,
ol,
li,
img,
a,
span,
em,
del,
legend,
center,
strong,
var,
fieldset,
form,
label,
dl,
dt,
dd,
cite,
input,
hr,
time,
mark,
code,
figcaption,
figure,
textarea,
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	border: 0;
	padding: 0;
	font-style: normal;
}

html,
body {
	height: 100%;
	-webkit-touch-callout: none;
	-webkit-text-size-adjust: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-user-select: none;
	background-color: #fff;
	color: var(--titlecolor)
}

nav,
article,
aside,
details,
main,
header,
footer,
section,
fieldset,
figcaption,
figure {
	display: block;
}

img,
a,
button,
em,
del,
strong,
var,
label,
cite,
small,
time,
mark,
code,
textarea {
	display: inline-block;
}

header,
section,
footer {
	position: relative;
}

ol,
ul {
	list-style: none;
}

span {
	display: inline-block;
}

a {
	color: #0062cc;
	text-decoration: none;
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}
/* 布局 */
.g-row{
	display: flex;
	flex-wrap: wrap;
}
.g-col-6{
	flex:1 1 auto;
	width: 50%;
	max-width: 50%;
}
.g-col-3{
	flex:1 1 auto;
	width: 25%;
	max-width: 25%;
}
.g-nav{
    width: 100vw;
    color: #fff;
	background: var(--dark);
	min-height:3rem;
	padding: 0 1rem;
	line-height: 3rem;
	display: flex;
    justify-content: space-between;
    align-items: center;
}
.g-nav ul{
    display: flex;
    padding: 0.8rem 1rem;
    line-height: 1.5;
}
.g-nav ul li {
    padding: 0 0.5rem;
}
.g-nav ul a{
    color: #fff;
}
/* tools */
.g-text-center{
    text-align: center;
} 
.g-padding-nomal{
    padding: 1rem;
}
.g-gradient{
	background-image: var(--gradient) !important;
}

.g-avatar{
	height: 2.5rem;
}
.g-avatar img{
	height: 100%;
}

.g-btn{
	padding: 0.25rem 0.8rem;
	background: var(--maincolor);
	color: #fff;
	text-align: center;
	border-radius: 2px;
	border:1px solid var(--maincolor);
	cursor: pointer;
	outline: none;
}
/* index */
#root{
	display: flex;
    flex-direction: column;
    height: 100vh;
}

.main{
	flex: 1 1 auto;
	display: flex;
	max-height: calc(100vh - 3rem);
}
.main>*{
	flex: 1 1 auto;
}
.left{
	max-width: 20%;
	border-right: 2px solid #719cf4;
	flex-grow: 0;
	overflow: auto;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.content{
	background: #fafafa;
	overflow: auto;
	position: relative;
	
}
.contentbox{
	position: relative;
	padding: 3rem 0;
	min-height: 100%;
}
.right{
	max-width: 25%;
	border-left: 2px solid #c5a7fa;
	display: flex;
    flex-direction: column;
}
.resourcebox{
	flex: 1 1 auto;
	overflow: auto;
	
}
.list-btns{
	box-shadow: 0 0 4px #ccc;
	text-align: right;
}
.list-btns button{
	border-radius: 0;
}
.mark{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background:rgba(0,0,0,.2);
	z-index: 1;
	pointer-events: none;
	-webkit-mask-image: linear-gradient(180deg,#000 3rem,transparent 3rem,transparent calc(667px + 3rem),#000 calc(667px + 3rem)),linear-gradient(90deg,#000 calc((100% - 375px) / 2),transparent calc((100% - 375px) / 2),transparent calc((100% + 375px) / 2),#000 calc((100% + 375px) / 2));
}
::-webkit-scrollbar {
	display: none;
}
