header{width: 100%; max-height: 60px;min-height: 40px;background: #fafafa;text-align: center;}
nav{max-width: 1200px;margin: auto; }
nav li{display: inline-block;padding: 0 10px;line-height: 2;}
nav .logo-button{float: left;}
nav .nav-left{float: left;}
nav .nav-right{float: right;}
nav a{color:#15618e;}
.sub-list-collapse{ position: absolute; min-width: 100px; background: #fafafa;margin-left:-30px; display: none;}
.dropdown-toggle:hover .sub-list-collapse{display: block;}
