
nav{width:100%; max-width: 1200px; height:40px;margin: auto; margin-top: 20px;
    background: rgba(255,255,255,0.2); border: 1px solid rgba(255,255,255,0.3);
    border-radius:5px ;}
nav li{display: inline-block;padding: 0 20px;line-height:40px; position: relative;}

nav li:after{ content: ""; display:inline-block;height: 20px; width: 1px; 
    position: absolute; right: 0;top:10px;
    background: linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0.3),rgba(255,255,255,0.1));}
nav .logo-button{float: left;}
nav .logo-button a{ font-size: 16px;font-weight: 500;}
nav .nav-left{float: left;}
nav .nav-right{float: right;}
nav a{color:rgba(255,255,255,0.8);}
nav a:hover{ color: #fff; text-decoration: none;}
.sub-list-collapse{ position: absolute; min-width: 100px; background: rgba(255,255,255,0.2);margin-left:-30px; display: none;
	border-radius: 0 0 5px 5px;}
.dropdown-toggle:hover .sub-list-collapse{display: block;}
li li:after{
	height: 1px; width: 100%;
	right: 0;top:0;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0.1),rgba(255,255,255,0.3),rgba(255,255,255,0.1));
}
